.env
.idea
.vscode
.DS_Store

venv
.pytest_cache
__pycache__
artifacts
dist
node_modules
node.json

cairo
account.json
target/dev/argent_contracts_ArgentAccount.sierra.json
target/dev/argent_contracts_ArgentAccount.casm.json
target/dev/argent_contracts_ArgentMultisig.sierra.json
target/dev/argent_contracts_ArgentMultisig.casm.json
target/dev/argent_contracts_TestDapp.casm.json
target/dev/argent_contracts_TestDapp.sierra.json
target/dev/argent_contracts_Multicall.casm.json
target/dev/argent_contracts_Multicall.sierra.json
target/dev/argent_contracts.starknet_artifacts.json
target/CACHEDIR.TAG
dump
package-lock.json
