.env
venv
.pytest_cache
__pycache__
artifacts
node.json
.idea
.vscode
dist
cairo
node_modules
target

.DS_Store
tests/fixtures/ArgentAccount.json
tests/fixtures/ArgentAccount.casm
tests/fixtures/TestDapp.json
tests/fixtures/TestDapp.casm