.env
.env.*
!.env.example
.idea
.vscode
.DS_Store

venv
.pytest_cache
__pycache__
artifacts
!deployments/artifacts
dist
target
node_modules
node.json
snfoundry_cache

cairo
account.json
dump
package-lock.json

/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn-error.log